@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this import to the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');



@font-face {
  font-family: 'Neutral Face';
  src: url('./fonts/NeutralFace.otf') format('opentype');
}

@font-face {
  font-family: 'LGC';
  src: url('./fonts/LGC.ttf') format('opentype');
}

body {
  margin: 0;
  font-family: 'Neutral Face', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
}

.hero {
  font-family: 'Raleway', sans-serif;
}

.contact {
  font-family: 'LGC', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}



html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.card {
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* Make sure the parent container has a defined height */
}


.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.skill .CircularProgressbar {
  width: 60px;
  height: 60px;
}

.skill .CircularProgressbar .CircularProgressbar-path {
  transition: stroke-dashoffset 0.5s ease 0s;
}

.skill .CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.rd3t-label>foreignObject>div {
  color: white !important;
}

.rd3t-node-circle {
  fill: white !important;
  stroke: white !important;
}

.input-field:focus {
  outline: none;
  border-color: transparent;
}

.textarea-field:focus {
  outline: none;
  border-color: transparent;
}

a {
  position: relative;
  overflow: hidden;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #10B981;
  /* This is for the green-300 color in Tailwind */
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: 100% 50%;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: 0 50%;
}